GROQ_API_KEY=your-groq_api_key
SUPABASE_URL=your-supabase_url
SUPABASE_KEY=your-supabase_key
PINECONE_API_KEY=your-pinecone_api_key
OPIK_API_KEY=your-opik_api_key
ENVIRONMENT=your-environment
DEBUG=your-debug